body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(https://image.freepik.com/free-vector/rainbow-coloured-abstract-low-poly-banner-design_1048-12818.jpg);
    color: white;
}
h4 {
    color:white;
    font-size: 15px; 
    font-style: italic;

}

h2 {
    color: white;
    font-size: 25px;
    font-style: bold;
    position: fixed;
    right:10px;
}
.c1feedback{
    font-size: 10px;
}

.feedback {
    border: 5px solid white
}

div .c2 {
    color: black;
}

a[href] {
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
}

a[href]:hover {
    display: block;
    color: white;
    
}

img {
    padding: 10px;
    border: 10;
    position: relative;
}